$c-purple: rgba(36, 23, 115, 100); // Primary Color. Used for links
$c-blue: rgba(0, 163, 224, 100);
$c-green: rgba(91, 191, 33, 100);
$c-orange: rgba(255, 161, 0, 100);
$c-pink: rgba(212, 15, 125, 100);
$c-brown-darkest: rgba(51, 50, 48, 100);
$c-brown-lightest: rgba(215, 210, 203, 100);

$c-white: white;
$c-white-20: rgba(255, 255, 255, .2);
$c-white-40: rgba(255, 255, 255, .4);
$c-white-50: rgba(255, 255, 255, .5);
$c-gray--lightest: rgba(245, 245, 245, 100);
$c-gray--lighter: rgba(241, 241, 241, 100);
$c-gray--light: rgba(226, 226, 226, 100);
$c-gray--light-50: rgba(226, 226, 226, .5);
$c-gray: rgba(188, 188, 189, 100);
$c-gray-50: rgba(188, 188, 189, 50);
$c-gray--darkish: hsl(0, 0%, 80%);
$c-gray--darker: hsl(0, 0%, 20%);
$c-gray--darkest: rgba(43,43,43,0.50);
$c-black: black;
