$c-primary: $c-blue;
$c-secondary: $c-purple;

$c-border: $c-gray--lighter;
$c-links: $c-gray--darker;
$c-links--hover: $c-blue;

$c-header-text: $c-gray--lighter;
$c-secondary-nav-links: $c-gray--light;
