//
// Card styles.
//

.card {
  background-color: $c-white;
  border-radius: 3px;
  box-shadow: 0 2px 1px 0 $c-gray-50;
  position: relative;

  &.node { // Override default colour set in 04-templates…
    background-color: $c-white;
  }

  a {
    display: block;
    color: $fc--paragraph;
    min-height: 9.4rem;
  }

  .title {
    color: $fc--heading-alt;
    margin-top: 0;
  }

  .card__main {
    padding: $spacing--l;

  }

  .card__footer {
    background-color: $c-gray--light;
    bottom: 0;
    min-height: 3.11rem;
    padding: $spacing--m $spacing--l;
    position: absolute;
    width: 100%;
  }
}
