{#{% set link_attributes = create_attribute() %}#}

{% if html_tag is empty %}
    {% set html_tag = 'article' %}
{% endif %}

{% set classes = classes|merge(['card']) %}
{#{% set link_classes = link_classes|merge(['card__link']) %}#}

<{{ html_tag }} {{ attributes.addClass(classes) }}>
    <a href="{{ url }}" {{ link_attributes.addClass(link_classes) }}>
        <div class="card__main">
            <h2 class="title">{{ title }}</h2>
            {% if description %}
                {{ description }}
            {% endif %}
        </div>
    </a>

    {% if footer %}
        <footer class="card__footer">
            {#{{ footer }}#}
        </footer>
    {% endif %}

</{{ html_tag }}>