.paragraph--type--carousel {
  background-color: $c-purple;
  overflow: hidden;

  .slick {
    width: 100vw;
    //max-width: 80rem;
    height: 23.6rem;

    @include center(true, false);
  }

  .field--name-field-paragraphs & .field__item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .field--name-field-image {
    float: right;
    height: 23.6rem;
  }

  .carousel__info-panel {
    background-color: $c-purple;
    color: $c-white;
    width: 44%;
    padding: $spacing--xxl;

    position: absolute;
    top: 0;
    left: 0;
    height: 23.6rem;

    &:after {
      border-top: 23.6rem solid $c-purple;
      border-right: 11.112rem solid transparent;
      content: '';
      position: absolute;
      top: 0;
      right: -11.112rem;
    }
  }

  // @todo: find a better way.
  h2,
  .h2 {
    color: $c-white;
  }

  .field--name-field-link {
    //position: absolute;
    bottom: 3em;

    a {
      @include button($alt: true);
      margin-top: $spacing--base;
    }
  }
}

.paragraph--type--carousel-slide {
  position: relative;
}

.slick--optionset--banner {
  .slick__arrow {
    bottom: 0;
    color: $c-white;
    padding: 0 0 $spacing--xl $spacing--xxl;
    position: absolute;

    button {
      background-color: transparent;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    color: $c-white;
    li {
      display: inline;

      &:before {
        content: none;
      }
    }
  }
}