.slick--optionset--multi-item {
  .slick-slide {
    padding-right: 2.2rem;

    &:last-child {
      padding-right: 0;
    }
  }

  .node {
    background-color: transparent;

  }
  .node__meta {
    border-top: 1px solid $c-white-50;
    margin-top: $spacing--ml;
    padding-top: $spacing--base;
  }
}