//
// Styles for block aside.
//

$aside_border: 1px solid $c-white-40;

.block-cwh-aside {
  /* Accordion styles */
  .ui-accordion-header {
    background: $c-pink;
    border-bottom: $aside_border;
    color: $c-white;
  }
  /* Corner radius */
  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-right,
  .ui-corner-bottom,
  .ui-corner-left,
  .ui-corner-tl,
  .ui-corner-tr,
  .ui-corner-bl,
  .ui-corner-br {
    border-radius: 0;
  }
  .ui-accordion-content {
    font-size: $fs--m;
  }

  /* Card */
  .card {
    border-radius: 0;
    box-shadow: none;
    border-bottom: $aside_border;
  }

  /* Text */
  > .paragraph--type--text {
    border-bottom: $aside_border;
    padding: $spacing--ml;
  }

  /* Sidebar first */
  .l-sidebar-first & {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $c-white;
      margin-top: 0;
    }
    .card,
    > .paragraph--type--text{
      background-color: $c-pink;
      color: $c-white;
    }
    a {
      color: $c-white;
      font-size: $fs--m;
    }
    .title {
      color: $c-white;
      font-size: $fs--xl;
    }
    .card__main {
      padding: $spacing--ml;
    }
  }

}