.branding {
  padding: 1.667rem 0;
  position: relative;

  @include clearfix;

  &__logo {
    float: left;
    margin-right: 1.667rem;

    .logo{
      @include breakpoint($bp--large);
      width: 10.223rem;
    }
  }
  &__site-info {
    @include center(false, true, true);
  }
  &__name {
    margin: 0;
  }
  &__slogan {
    margin: 0;
  }
}
