.block-cwh-process-filter {
  background-color: $c-gray--light;
  padding-top: $spacing--xxl;
  padding-bottom: $spacing--xxl;

  .form-item {
    margin: 0;
    position: relative;

    // @todo: change to  'search' if you can fix Platform's SVGs…
    @include icon('search-old', after);

    &:after {
      right: $spacing--xl;
      font-size: $fs--xxl;

      @include center(false, true, true);
    }
  }
}