<aside class="branding">
  {% if site_logo %}
    <div class="branding__logo">
      <a href="{{ url }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo"/>
      </a>
    </div>
  {% endif %}

    {% if (site_name or site_slogan) %}
        <div class="branding__site-info">
        {% if site_name %}
            <h2 class="branding__name">
                <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </h2>
        {% endif %}

        {% if site_slogan %}
            <h3 class="branding__slogan">{{ site_slogan }}</h3>
        {% endif %}
        </div>
    {% endif %}
</aside>
