//
// Styles for the footer and it's content.
//
.region-footer {
  font-size: $fs--s;

  &.strip {
    background-color: $c-brown-lightest;
  }

  .menu-item {
    padding: $spacing--ml 0;

    a {
      border-left: 1px solid $c-brown-darkest;
      padding: 0 $spacing--m;
    }

    &:first-child {
      a {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}