@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/* HTML5 display definitions
       ========================================================================== */
/**
     * Add the correct display in IE <10.
     * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
     * Add the correct display in IE for `main`.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
     * Add the correct display in IE <10.
     */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
     * Add the correct display and remove excess height in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline;
}

/**
     * Add the correct display in IE <11, Safari <8, and Firefox <22.
     * 1. Add the correct display in IE.
     */
template,
[hidden] {
  display: none;
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox <40.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
     * Add the correct font style in Android <4.4.
     */
dfn {
  font-style: italic;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0;
}

/**
     * Add the correct background and color in IE <10.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE <11.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1.5em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
       ========================================================================== */
/**
     * Known issues:
     * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
     *   select, unless a border property is set. The default font weight on
     *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
     *   OS X.
     * - It is recommended that you do not style checkbox and radio inputs as
     *   Firefox's implementation does not respect box-sizing, padding, or width.
     * - Certain font size values applied to number inputs cause the cursor style of
     *   the decrement button to change from default to text.
     * - The search input is not fully stylable by default. In Chrome and Safari on
     *   OSX/iOS you can't control font, padding, border, or background. In Chrome
     *   and Safari on Windows you can't control border properly. It will apply
     *   border-width but will only show a border color (which cannot be controlled)
     *   for the outer 1px of that border. Applying -webkit-appearance: textfield
     *   addresses these issues without removing the benefits of search inputs (e.g.
     *   showing past searches). Safari (but not Chrome) will clip the cancel button
     *   on when it has padding (and textfield appearance).
     */
/**
     * 1. Change font properties to `inherit` in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     * 3. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 4. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE <11.
     * 2. Remove the padding in IE <11.
     * 3. Remove excess padding in IE 7.
     *    Known issue: excess padding remains in IE 6.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * Correct the text style of placeholders in Chrome, Edge, and Safari.
     */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     * 4. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */
}

/**
     * Restore the font weight unset by a previous rule.
     */
optgroup {
  font-weight: bold;
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

.u-spacing-down {
  margin-bottom: 1.27rem;
}

.u-spacing-up {
  margin-top: 1.27rem;
}

.u-gap-down {
  margin-bottom: 0.32rem;
}

.u-gap-up {
  margin-top: 0.32rem;
}

/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 * Usage:
 * display: none; // hidden for mobile
 * @include breakpoint($bp--small-up) {
 *   display: block; // shown above 400
 * }
 */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.u-full-width {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.local-base {
  font-size: 1rem;
}

.u-border {
  border: solid 1px #f1f1f1;
}

h1, .h1 {
  color: #241773;
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
}

[theme~='highlight'] h1,
[theme~='dark'] h1,
[theme~='typography__light'] h1, [theme~='highlight'] .h1,
[theme~='dark'] .h1,
[theme~='typography__light'] .h1 {
  color: white;
}

[theme~='typography__alt'] h1, [theme~='typography__alt'] .h1 {
  color: #00a3e0;
}

h2, .h2 {
  color: #241773;
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
}

[theme~='highlight'] h2,
[theme~='dark'] h2,
[theme~='typography__light'] h2, [theme~='highlight'] .h2,
[theme~='dark'] .h2,
[theme~='typography__light'] .h2 {
  color: white;
}

[theme~='typography__alt'] h2, [theme~='typography__alt'] .h2 {
  color: #00a3e0;
}

h3, .h3 {
  color: #241773;
  font-family: "Helvetica", sans-serif;
  font-size: 1.11rem;
}

[theme~='highlight'] h3,
[theme~='dark'] h3,
[theme~='typography__light'] h3, [theme~='highlight'] .h3,
[theme~='dark'] .h3,
[theme~='typography__light'] .h3 {
  color: white;
}

[theme~='typography__alt'] h3, [theme~='typography__alt'] .h3 {
  color: #00a3e0;
}

h4, .h4 {
  color: #241773;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}

[theme~='highlight'] h4,
[theme~='dark'] h4,
[theme~='typography__light'] h4, [theme~='highlight'] .h4,
[theme~='dark'] .h4,
[theme~='typography__light'] .h4 {
  color: white;
}

[theme~='typography__alt'] h4, [theme~='typography__alt'] .h4 {
  color: #00a3e0;
}

h5, .h5 {
  color: #241773;
  font-family: "Helvetica", sans-serif;
  font-size: 0.889rem;
}

[theme~='highlight'] h5,
[theme~='dark'] h5,
[theme~='typography__light'] h5, [theme~='highlight'] .h5,
[theme~='dark'] .h5,
[theme~='typography__light'] .h5 {
  color: white;
}

[theme~='typography__alt'] h5, [theme~='typography__alt'] .h5 {
  color: #00a3e0;
}

h6, .h6 {
  color: #241773;
  font-family: "Helvetica", sans-serif;
  font-size: 0.778rem;
}

[theme~='highlight'] h6,
[theme~='dark'] h6,
[theme~='typography__light'] h6, [theme~='highlight'] .h6,
[theme~='dark'] .h6,
[theme~='typography__light'] .h6 {
  color: white;
}

[theme~='typography__alt'] h6, [theme~='typography__alt'] .h6 {
  color: #00a3e0;
}

.node__content ul {
  list-style: none;
  padding: 0;
}

.node__content ul li::before {
  content: "•";
}

.node__content li {
  padding-bottom: 0.32rem;
  padding-left: 1rem;
  text-indent: -1rem;
}

.node__content li::before {
  color: #d40f7d;
  /* or whatever color you prefer */
  font-size: 2rem;
  line-height: 1.38rem;
  padding-right: 0.32rem;
  vertical-align: middle;
}

.node__content ol {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: counter;
}

.node__content ol > li:before {
  counter-increment: counter;
  content: counter(counter);
}

.node__content ol li::before {
  font-size: 1em;
  content: counter(counter) ".";
}

/* Pattern stuff */
.custom-bullet {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: counter;
}

.custom-bullet > li:before {
  counter-increment: counter;
  content: counter(counter);
}

/* Vars */
.custom-bullet--a {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: counter;
  position: relative;
}

.custom-bullet--a > li:before {
  counter-increment: counter;
  content: counter(counter);
}

.custom-bullet--a > li:before {
  position: relative;
  display: inline-block;
  z-index: 100;
  width: 5.778rem;
  height: 5.778rem;
  margin-right: 5.778rem;
  margin-bottom: 5.778rem;
  border: 4px solid #6e1e52;
  line-height: 5.778rem;
  text-align: center;
  color: #6e1e52;
  background-color: white;
  border-radius: 100em;
  counter-increment: counter;
  content: counter(counter);
}

.custom-bullet--a > li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 90;
  left: 5.778rem;
  margin-left: 2px;
  border-left: 4px solid #6e1e52;
  content: "";
}

.custom-bullet--a > li:last-child:before {
  margin-bottom: 0;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 380px) {
  html {
    font-size: calc(14px + 4 * (100vw - 380px) / 920);
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 18px;
  }
}

body {
  color: #333230;
  font-family: "Helvetica", sans-serif;
}

body [theme~='dark'],
body [theme~='typography__light'] {
  color: white;
}

body [theme~='typography__alt'] {
  color: #00a3e0;
}

p {
  margin: 0 0 1.27rem;
  line-height: 1.27rem;
}

a:link, a:visited {
  color: #241773;
  text-decoration: none;
}

[theme~='dark'] a:link,
[theme~='typography__light'] a:link, [theme~='dark'] a:visited,
[theme~='typography__light'] a:visited {
  color: white;
}

a:hover, a:focus, a:active {
  color: #241773;
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  border-left: solid 3px #f1f1f1;
  margin-left: 1.27rem;
  padding-left: 1.27rem;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

code:before {
  content: '`';
}

code:after {
  content: '`';
}

pre code:after, pre code:before {
  content: '';
}

.demo-transition.transition-opacity {
  transition: opacity 0.3s ease-in;
}

.demo-transition.transition-move:after {
  transition: left 0.3s ease-in;
}

.u-grid-width--1 {
  width: calc((8.33333% + 0.10583rem) - 1.27rem) !important;
}

.u-grid-width--2 {
  width: calc((16.66667% + 0.21167rem) - 1.27rem) !important;
}

.u-grid-width--3 {
  width: calc((25% + 0.3175rem) - 1.27rem) !important;
}

.u-grid-width--4 {
  width: calc((33.33333% + 0.42333rem) - 1.27rem) !important;
}

.u-grid-width--6 {
  width: calc((50% + 0.635rem) - 1.27rem) !important;
}

.grid-demo {
  counter-reset: grid-item;
}

.grid-demo > * {
  counter-increment: grid-item;
}

.grid-demo > *:after {
  content: counter(grid-item);
  margin-left: 3px;
}

.grid-demo > *:nth-child(odd) {
  border: dashed 1px red;
}

.grid-demo > *:nth-child(even) {
  border: dashed 1px orange;
}

.full-grid-demo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: whitesmoke;
}

.full-grid-demo > * {
  margin-bottom: 1.27rem;
  width: calc((8.33333% + 0.10583rem) - 1.27rem);
}

.full-grid-demo > *:last-child {
  margin-bottom: 1.27rem;
}

.full-grid-demo > *:nth-child(1n) {
  margin-right: 1.27rem;
}

.full-grid-demo > *:nth-child(12n) {
  margin-right: 0;
}

.full-grid-demo__item {
  background: #f1f1f1;
  border: solid 1px #f1f1f1;
  height: 200px;
}

.smart-grid > * {
  margin-bottom: 0.635rem;
}

.smart-grid > *:last-child {
  margin-bottom: 0.635rem;
}

.smart-grid > *[class]:last-child {
  margin-bottom: 0.635rem;
}

@media (min-width: 380px) {
  .smart-grid[data-row-items-xsmall="1"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xsmall="1"] > * {
    margin-bottom: 1.27rem;
    width: 100%;
  }
  .smart-grid[data-row-items-xsmall="1"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="1"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="1"] > *:nth-child(1n) {
    margin-right: 0;
  }
}

@media (min-width: 380px) {
  .smart-grid[data-row-items-xsmall="2"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xsmall="2"] > * {
    margin-bottom: 1.27rem;
    width: calc((50% + 0.635rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xsmall="2"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="2"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="2"] > *:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 380px) {
  .smart-grid[data-row-items-xsmall="3"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xsmall="3"] > * {
    margin-bottom: 1.27rem;
    width: calc((33.33333% + 0.42333rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xsmall="3"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="3"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="3"] > *:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 380px) {
  .smart-grid[data-row-items-xsmall="4"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xsmall="4"] > * {
    margin-bottom: 1.27rem;
    width: calc((25% + 0.3175rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xsmall="4"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="4"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="4"] > *:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 380px) {
  .smart-grid[data-row-items-xsmall="6"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xsmall="6"] > * {
    margin-bottom: 1.27rem;
    width: calc((16.66667% + 0.21167rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xsmall="6"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="6"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xsmall="6"] > *:nth-child(6n) {
    margin-right: 0;
  }
}

@media (min-width: 500px) {
  .smart-grid[data-row-items-small="1"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-small="1"] > * {
    margin-bottom: 1.27rem;
    width: 100%;
  }
  .smart-grid[data-row-items-small="1"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-small="1"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-small="1"] > *:nth-child(1n) {
    margin-right: 0;
  }
}

@media (min-width: 500px) {
  .smart-grid[data-row-items-small="2"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-small="2"] > * {
    margin-bottom: 1.27rem;
    width: calc((50% + 0.635rem) - 1.27rem);
  }
  .smart-grid[data-row-items-small="2"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-small="2"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-small="2"] > *:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 500px) {
  .smart-grid[data-row-items-small="3"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-small="3"] > * {
    margin-bottom: 1.27rem;
    width: calc((33.33333% + 0.42333rem) - 1.27rem);
  }
  .smart-grid[data-row-items-small="3"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-small="3"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-small="3"] > *:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 500px) {
  .smart-grid[data-row-items-small="4"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-small="4"] > * {
    margin-bottom: 1.27rem;
    width: calc((25% + 0.3175rem) - 1.27rem);
  }
  .smart-grid[data-row-items-small="4"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-small="4"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-small="4"] > *:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 500px) {
  .smart-grid[data-row-items-small="6"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-small="6"] > * {
    margin-bottom: 1.27rem;
    width: calc((16.66667% + 0.21167rem) - 1.27rem);
  }
  .smart-grid[data-row-items-small="6"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-small="6"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-small="6"] > *:nth-child(6n) {
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  .smart-grid[data-row-items-medium="1"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-medium="1"] > * {
    margin-bottom: 1.27rem;
    width: 100%;
  }
  .smart-grid[data-row-items-medium="1"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-medium="1"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-medium="1"] > *:nth-child(1n) {
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  .smart-grid[data-row-items-medium="2"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-medium="2"] > * {
    margin-bottom: 1.27rem;
    width: calc((50% + 0.635rem) - 1.27rem);
  }
  .smart-grid[data-row-items-medium="2"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-medium="2"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-medium="2"] > *:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  .smart-grid[data-row-items-medium="3"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-medium="3"] > * {
    margin-bottom: 1.27rem;
    width: calc((33.33333% + 0.42333rem) - 1.27rem);
  }
  .smart-grid[data-row-items-medium="3"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-medium="3"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-medium="3"] > *:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  .smart-grid[data-row-items-medium="4"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-medium="4"] > * {
    margin-bottom: 1.27rem;
    width: calc((25% + 0.3175rem) - 1.27rem);
  }
  .smart-grid[data-row-items-medium="4"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-medium="4"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-medium="4"] > *:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  .smart-grid[data-row-items-medium="6"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-medium="6"] > * {
    margin-bottom: 1.27rem;
    width: calc((16.66667% + 0.21167rem) - 1.27rem);
  }
  .smart-grid[data-row-items-medium="6"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-medium="6"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-medium="6"] > *:nth-child(6n) {
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  .smart-grid[data-row-items-large="1"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-large="1"] > * {
    margin-bottom: 1.27rem;
    width: 100%;
  }
  .smart-grid[data-row-items-large="1"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-large="1"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-large="1"] > *:nth-child(1n) {
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  .smart-grid[data-row-items-large="2"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-large="2"] > * {
    margin-bottom: 1.27rem;
    width: calc((50% + 0.635rem) - 1.27rem);
  }
  .smart-grid[data-row-items-large="2"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-large="2"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-large="2"] > *:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  .smart-grid[data-row-items-large="3"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-large="3"] > * {
    margin-bottom: 1.27rem;
    width: calc((33.33333% + 0.42333rem) - 1.27rem);
  }
  .smart-grid[data-row-items-large="3"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-large="3"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-large="3"] > *:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  .smart-grid[data-row-items-large="4"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-large="4"] > * {
    margin-bottom: 1.27rem;
    width: calc((25% + 0.3175rem) - 1.27rem);
  }
  .smart-grid[data-row-items-large="4"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-large="4"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-large="4"] > *:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  .smart-grid[data-row-items-large="6"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-large="6"] > * {
    margin-bottom: 1.27rem;
    width: calc((16.66667% + 0.21167rem) - 1.27rem);
  }
  .smart-grid[data-row-items-large="6"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-large="6"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-large="6"] > *:nth-child(6n) {
    margin-right: 0;
  }
}

@media (min-width: 1100px) {
  .smart-grid[data-row-items-xlarge="1"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xlarge="1"] > * {
    margin-bottom: 1.27rem;
    width: 100%;
  }
  .smart-grid[data-row-items-xlarge="1"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="1"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="1"] > *:nth-child(1n) {
    margin-right: 0;
  }
}

@media (min-width: 1100px) {
  .smart-grid[data-row-items-xlarge="2"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xlarge="2"] > * {
    margin-bottom: 1.27rem;
    width: calc((50% + 0.635rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xlarge="2"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="2"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="2"] > *:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1100px) {
  .smart-grid[data-row-items-xlarge="3"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xlarge="3"] > * {
    margin-bottom: 1.27rem;
    width: calc((33.33333% + 0.42333rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xlarge="3"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="3"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="3"] > *:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1100px) {
  .smart-grid[data-row-items-xlarge="4"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xlarge="4"] > * {
    margin-bottom: 1.27rem;
    width: calc((25% + 0.3175rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xlarge="4"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="4"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="4"] > *:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 1100px) {
  .smart-grid[data-row-items-xlarge="6"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smart-grid[data-row-items-xlarge="6"] > * {
    margin-bottom: 1.27rem;
    width: calc((16.66667% + 0.21167rem) - 1.27rem);
  }
  .smart-grid[data-row-items-xlarge="6"] > *:last-child {
    margin-bottom: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="6"] > *:nth-child(1n) {
    margin-right: 1.27rem;
  }
  .smart-grid[data-row-items-xlarge="6"] > *:nth-child(6n) {
    margin-right: 0;
  }
}

.u-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

@media (min-width: 700px) {
  .grid--2-1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .grid--2-1 > *:nth-child(odd) {
    width: calc(66.66% - (1.27rem / 2));
  }
  .grid--2-1 > *:nth-child(even) {
    width: calc(33.33% - (1.27rem / 2));
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main {
  display: block;
}

:last-child {
  margin-bottom: 0;
}

[class]:last-child {
  margin-bottom: 0;
}

.button {
  background-color: #241773;
  border-radius: 0.32rem;
  color: white;
  font-weight: 700;
  padding: 0.96rem 3.81rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.button:link, .button:visited {
  color: white;
  text-decoration: none;
}

[theme~='dark'] .button:link,
[theme~='typography__light'] .button:link, [theme~='dark'] .button:visited,
[theme~='typography__light'] .button:visited {
  color: white;
}

.button:hover, .button:focus, .button:active {
  color: white;
  text-decoration: "none";
}

.button--alt {
  background-color: #241773;
  border-radius: 0.32rem;
  color: white;
  font-weight: 700;
  padding: 0.96rem 3.81rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #d40f7d;
}

.button--alt:link, .button--alt:visited {
  color: white;
  text-decoration: none;
}

[theme~='dark'] .button--alt:link,
[theme~='typography__light'] .button--alt:link, [theme~='dark'] .button--alt:visited,
[theme~='typography__light'] .button--alt:visited {
  color: white;
}

.button--alt:hover, .button--alt:focus, .button--alt:active {
  color: white;
  text-decoration: "none";
}

a.button {
  -moz-appearance: none;
  -webkit-appearance: none;
}

a.button__blob {
  color: white;
  background: #241773;
  border-radius: 100%;
  display: block;
  height: 5.4rem;
  width: 5.4rem;
  position: relative;
}

a.button__blob span {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

a.button__blob .icons__next {
  font-size: 3.5rem;
}

a.button__blob .direction {
  bottom: 1rem;
}

input[type="submit"],
.form-submit {
  background-color: #241773;
  border-radius: 0.32rem;
  color: white;
  font-weight: 700;
  padding: 0.96rem 3.81rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
}

input[type="submit"]:link, input[type="submit"]:visited,
.form-submit:link,
.form-submit:visited {
  color: white;
  text-decoration: none;
}

[theme~='dark'] input[type="submit"]:link,
[theme~='typography__light'] input[type="submit"]:link, [theme~='dark'] input[type="submit"]:visited,
[theme~='typography__light'] input[type="submit"]:visited, [theme~='dark']
.form-submit:link,
[theme~='typography__light']
.form-submit:link, [theme~='dark']
.form-submit:visited,
[theme~='typography__light']
.form-submit:visited {
  color: white;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
.form-submit:hover,
.form-submit:focus,
.form-submit:active {
  color: white;
  text-decoration: "none";
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 1px 0 #bcbcbd;
  position: relative;
}

.card.node {
  background-color: white;
}

.card a {
  display: block;
  color: #333230;
  min-height: 9.4rem;
}

.card .title {
  color: #00a3e0;
  margin-top: 0;
}

.card .card__main {
  padding: 1.27rem;
}

.card .card__footer {
  background-color: #e2e2e2;
  bottom: 0;
  min-height: 3.11rem;
  padding: 0.635rem 1.27rem;
  position: absolute;
  width: 100%;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=search], input[type=tel], input[type=url] {
  background: white;
  border: 1px solid #d7d2cb;
  box-shadow: 0 2px 4px 0 rgba(226, 226, 226, 0.5);
  border-radius: 2px;
  padding: 0.635rem;
}

input[type=text].form__mega, input[type=password].form__mega, input[type=number].form__mega, input[type=email].form__mega, input[type=search].form__mega, input[type=tel].form__mega, input[type=url].form__mega {
  border-radius: 11px;
  font-size: 2rem;
  padding: 1.27rem;
  width: 100%;
}

input:-ms-input-placeholder {
  color: #241773;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

input::placeholder {
  color: #241773;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}

input:focus::placeholder {
  opacity: .5;
}

@font-face {
  font-family: "icons";
  src: url("icons.eot?cachebust=22827");
  src: url("icons.eot?cachebust=44254#iefix") format("eot"), url("icons.woff?cachebust=30871") format("woff"), url("icons.ttf?cachebust=24202") format("truetype"), url("icons.svg?cachebust=8257#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * Font application to generic DOM
 */
[class*="icon--"] {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
}

.icon--close::before {
  content: "";
}

.icon--download::before {
  content: "";
}

.icon--download_circle::before {
  content: "";
}

.icon--menu::before {
  content: "";
}

.icon--search-old::before {
  content: "";
}

.icon--search::before {
  content: "";
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}

.ui-widget .ui-widget {
  font-size: 1rem;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */
  font-size: 100%;
}

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

.steps {
  color: white;
}

.steps h1 {
  color: white;
}

.steps__list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.steps__list::after {
  clear: both;
  content: "";
  display: table;
}

.steps__list > li {
  float: left;
}

.step {
  color: #333230;
  position: relative;
}

.step__count {
  border: 0.222rem solid rgba(255, 255, 255, 0.2);
  border-radius: 100em;
  color: white;
  display: inline-block;
  font-size: 2.778rem;
  height: 5.778rem;
  line-height: 5.778rem;
  text-align: center;
  width: 5.778rem;
}

.step__count:hover {
  border-color: white;
}

.is-active .step__count {
  background-color: white;
  border: none;
  color: #241773;
}

.step__tagline {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(43, 43, 43, 0.5);
  border-radius: 4px;
  display: block;
  line-height: 1.27rem;
  margin-top: 1rem;
  max-height: 0px;
  opacity: 0;
  padding: 0.635rem;
  transition: opacity 0.3s ease-in, height 0.3s ease-in;
  visibility: hidden;
  width: 16rem;
  z-index: 70;
}

.step__tagline::before {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-right: solid .5rem transparent;
  border-bottom: solid 1rem white;
  border-left: solid .5rem transparent;
  content: "";
  top: -1rem;
  z-index: 70;
}

.step:hover .step__tagline {
  max-height: none;
  opacity: 1;
  visibility: visible;
}

.document-link {
  display: block;
  padding: 1rem 1rem 1rem 2.8rem;
  border-bottom: 2px solid white;
}

.document-link.icons__download:before {
  /* stylelint-disable-line */
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  content: "";
  font-size: inherit;
  color: inherit;
}

.document-link.icons__download:before {
  background-color: #00a3e0;
  border-radius: 100%;
  color: white;
  font-size: 1.11rem;
  margin-right: 0.635rem;
  margin-left: -2.5em;
  padding: .45em .55em;
}

ul.menu {
  margin-top: 0;
}

.menu-item {
  float: left;
  padding: 0;
}

.menu-item a {
  display: block;
  padding: 1.16rem;
}

.messages {
  margin: 1.27rem 0;
}

.strip {
  background-color: #f1f1f1;
}

.strip[theme~="highlight"] {
  background-color: #00a3e0;
}

.strip[theme~="dark"] {
  background-color: #241773;
}

.strip:before, .strip:after {
  content: "";
  display: table;
  clear: both;
}

.strip-wrapper {
  width: 86%;
  margin: 0 auto;
}

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #bcbcbd;
  /* Consider removing this next declaration block, as it causes problems when
  there's a rowspan on the first cell. Case added to the tests. issue#432 */
}

table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  border-left: 1px solid #bcbcbd;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
}

table td:first-child,
table th:first-child {
  border-left-width: 0;
}

table thead {
  background-color: #cccccc;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
/* nth-child selector for modern browsers */
.table--striped tr:nth-child(2n-1) td {
  background-color: white;
}

/* BORDERED TABLES */
.table--bordered td {
  border-bottom: 1px solid #bcbcbd;
}

.table--bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.table--horizontal td,
.table--horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #bcbcbd;
}

.table--horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.tabs {
  margin-top: 0.635rem;
  border-bottom: 1px solid #bcbcbd;
}

.tabs a {
  padding: 0.8rem 1.2rem;
}

.tabs a.is-active {
  background-color: #f1f1f1;
  margin-bottom: -2px;
  padding-bottom: 0.9rem;
}

.tabs li {
  background-color: white;
  border-radius: 3px 3px 0 0;
}

.tabs li.is-active, .tabs li:hover, .tabs li:focus {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #bcbcbd;
}

.block-cwh-aside {
  /* Accordion styles */
  /* Corner radius */
  /* Card */
  /* Text */
  /* Sidebar first */
}

.block-cwh-aside .ui-accordion-header {
  background: #d40f7d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
}

.block-cwh-aside .ui-corner-all,
.block-cwh-aside .ui-corner-top,
.block-cwh-aside .ui-corner-right,
.block-cwh-aside .ui-corner-bottom,
.block-cwh-aside .ui-corner-left,
.block-cwh-aside .ui-corner-tl,
.block-cwh-aside .ui-corner-tr,
.block-cwh-aside .ui-corner-bl,
.block-cwh-aside .ui-corner-br {
  border-radius: 0;
}

.block-cwh-aside .ui-accordion-content {
  font-size: 0.889rem;
}

.block-cwh-aside .card {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.block-cwh-aside > .paragraph--type--text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1.16rem;
}

.l-sidebar-first .block-cwh-aside h1,
.l-sidebar-first .block-cwh-aside h2,
.l-sidebar-first .block-cwh-aside h3,
.l-sidebar-first .block-cwh-aside h4,
.l-sidebar-first .block-cwh-aside h5,
.l-sidebar-first .block-cwh-aside h6 {
  color: white;
  margin-top: 0;
}

.l-sidebar-first .block-cwh-aside .card,
.l-sidebar-first .block-cwh-aside > .paragraph--type--text {
  background-color: #d40f7d;
  color: white;
}

.l-sidebar-first .block-cwh-aside a {
  color: white;
  font-size: 0.889rem;
}

.l-sidebar-first .block-cwh-aside .title {
  color: white;
  font-size: 1.11rem;
}

.l-sidebar-first .block-cwh-aside .card__main {
  padding: 1.16rem;
}

.branding {
  padding: 1.667rem 0;
  position: relative;
}

.branding::after {
  clear: both;
  content: "";
  display: table;
}

.branding__logo {
  float: left;
  margin-right: 1.667rem;
}

.branding__logo .logo {
  width: 10.223rem;
}

.branding__site-info {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.branding__name {
  margin: 0;
}

.branding__slogan {
  margin: 0;
}

.block-system-breadcrumb-block.strip {
  background-color: #e2e2e2;
}

.block-system-breadcrumb-block .breadcrumb {
  padding: 0.635rem 0;
}

.block-system-breadcrumb-block a {
  color: #333230;
}

.block-cwh-process-filter {
  background-color: #e2e2e2;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.block-cwh-process-filter .form-item {
  margin: 0;
  position: relative;
}

.block-cwh-process-filter .form-item:after {
  /* stylelint-disable-line */
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  content: "";
  font-size: inherit;
  color: inherit;
}

.block-cwh-process-filter .form-item:after {
  right: 1.38rem;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.block-views-blocknews-news-carousel.strip {
  padding: 2.5rem 0;
}

.block-views-blocknews-news-carousel h2,
.block-views-blocknews-news-carousel .h2 {
  margin: 0;
}

.caption-block {
  font-size: 1rem;
  margin: 0;
}

.caption-block__body {
  font-size: 1em;
  line-height: 1.35em;
}

@media (min-width: 700px) {
  .caption-block__body {
    line-height: 1.5em;
  }
}

.field-column-content,
.column-content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.site-util {
  min-height: 3.33rem;
  background-color: #241773;
  font-size: 0.889rem;
}

.site-util .menu {
  font-size: 0.889rem;
}

.site-util .menu a,
.site-util .menu a.is-active {
  color: white;
}

.site-util .region-site-util-second {
  float: right;
}

.site-util .region-site-util-second .menu-item {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.paragraph--type--carousel {
  background-color: #241773;
  overflow: hidden;
}

.paragraph--type--carousel .slick {
  width: 100vw;
  height: 23.6rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.field--name-field-paragraphs .paragraph--type--carousel .field__item {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--type--carousel .field--name-field-image {
  float: right;
  height: 23.6rem;
}

.paragraph--type--carousel .carousel__info-panel {
  background-color: #241773;
  color: white;
  width: 44%;
  padding: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 23.6rem;
}

.paragraph--type--carousel .carousel__info-panel:after {
  border-top: 23.6rem solid #241773;
  border-right: 11.112rem solid transparent;
  content: '';
  position: absolute;
  top: 0;
  right: -11.112rem;
}

.paragraph--type--carousel h2,
.paragraph--type--carousel .h2 {
  color: white;
}

.paragraph--type--carousel .field--name-field-link {
  bottom: 3em;
}

.paragraph--type--carousel .field--name-field-link a {
  background-color: #241773;
  border-radius: 0.32rem;
  color: white;
  font-weight: 700;
  padding: 0.96rem 3.81rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #d40f7d;
  margin-top: 1rem;
}

.paragraph--type--carousel .field--name-field-link a:link, .paragraph--type--carousel .field--name-field-link a:visited {
  color: white;
  text-decoration: none;
}

[theme~='dark'] .paragraph--type--carousel .field--name-field-link a:link,
[theme~='typography__light'] .paragraph--type--carousel .field--name-field-link a:link, [theme~='dark'] .paragraph--type--carousel .field--name-field-link a:visited,
[theme~='typography__light'] .paragraph--type--carousel .field--name-field-link a:visited {
  color: white;
}

.paragraph--type--carousel .field--name-field-link a:hover, .paragraph--type--carousel .field--name-field-link a:focus, .paragraph--type--carousel .field--name-field-link a:active {
  color: white;
  text-decoration: "none";
}

.paragraph--type--carousel-slide {
  position: relative;
}

.slick--optionset--banner .slick__arrow {
  bottom: 0;
  color: white;
  padding: 0 0 1.38rem 2.5rem;
  position: absolute;
}

.slick--optionset--banner .slick__arrow button {
  background-color: transparent;
}

.slick--optionset--banner .slick-dots {
  position: absolute;
  bottom: 10px;
  color: white;
}

.slick--optionset--banner .slick-dots li {
  display: inline;
}

.slick--optionset--banner .slick-dots li:before {
  content: none;
}

.slick--optionset--multi-item .slick-slide {
  padding-right: 2.2rem;
}

.slick--optionset--multi-item .slick-slide:last-child {
  padding-right: 0;
}

.slick--optionset--multi-item .node {
  background-color: transparent;
}

.slick--optionset--multi-item .node__meta {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 1.16rem;
  padding-top: 1rem;
}

.region-footer {
  font-size: 0.778rem;
}

.region-footer.strip {
  background-color: #d7d2cb;
}

.region-footer .menu-item {
  padding: 1.16rem 0;
}

.region-footer .menu-item a {
  border-left: 1px solid #333230;
  padding: 0 0.635rem;
}

.region-footer .menu-item:first-child a {
  padding-left: 0;
  border-left: none;
}

.node {
  background-color: #f1f1f1;
}

.node::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 700px) {
  .field--name-field-paragraphs {
    padding-bottom: 5rem;
  }
}

.field--name-field-paragraphs .field__item {
  margin-top: 1.16rem;
  margin-bottom: 1.16rem;
}

.node--type-landing-page .field--name-field-paragraphs .field__item {
  margin-top: 0;
  margin-bottom: 0;
}

.main:before, .main:after {
  content: "";
  display: table;
  clear: both;
}

.l-container::after {
  clear: both;
  content: "";
  display: table;
}

.l-container .l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.l-container--has-sidebar::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 700px) {
  .l-container--has-sidebar .l-content {
    width: 66.66667%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .l-container--has-sidebar .l-sidebar-first {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 5rem;
  }
}

.l-content-above .strip {
  background-color: #241773;
  color: white;
  position: relative;
}

.l-content-above .strip-wrapper {
  padding: 2.5rem 0;
}

.l-content-above .page-title {
  color: white;
  margin-top: 0;
}

.l-content-above .block-local-tasks-block {
  bottom: -1px;
  position: absolute;
}

.l-content-above.columns .strip-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-content-above.columns .strip-wrapper > * {
  margin-bottom: 1.27rem;
  width: calc((50% + 0.635rem) - 1.27rem);
}

.l-content-above.columns .strip-wrapper > *:last-child {
  margin-bottom: 1.27rem;
}

.l-content-above.columns .strip-wrapper > *:nth-child(1n) {
  margin-right: 1.27rem;
}

.l-content-above.columns .strip-wrapper > *:nth-child(2n) {
  margin-right: 0;
}

.l-content-below,
.l-content-below .strip {
  background-color: #e2e2e2;
}

.region-sidebar-first {
  margin-top: 1.16rem;
  margin-bottom: 1.16rem;
}

@media (min-width: 700px) {
  .region-sidebar-first {
    margin-top: 5rem;
  }
}

.region-sidebar-first .block {
  border-radius: 3px;
  overflow: hidden;
}

/*------------------------------------*    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
pre {
  margin-top: 0;
}

.u-demo-bg {
  background-color: #cccccc;
}

.sg-colors {
  overflow: hidden;
  margin: 5px;
  padding: 0;
}

.sg-colors > li {
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.sg-colors > li .sg-swatch {
  display: block;
  height: 25px;
  border: dotted 1px gray;
}

.sg-colors > li .sg-info {
  line-height: 1;
}

@media all and (min-width: 400px) {
  .sg-colors > li {
    float: left;
    width: 49%;
    margin-right: 1%;
  }
}

@media all and (min-width: 700px) {
  .sg-colors > li {
    width: 24%;
  }
  .sg-colors > li:nth-child(4n+1) {
    clear: both;
  }
}

.sg-breakpoints {
  overflow: hidden;
  position: relative;
}

.sg-breakpoints ul {
  margin: 0;
  padding: 0;
}

.sg-breakpoints li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sg-breakpoints .breakpoints > li {
  position: absolute;
  border-left: solid 3px #595959;
  height: 100%;
}

.sg-breakpoints .breakpoints > li > .label {
  display: block;
  background: #595959;
  padding: 3px;
  color: white;
}

.sg-breakpoints .breakpoints > li:hover {
  border-left-color: rgba(89, 89, 89, 0.3);
}

.sg-breakpoints .breakpoints > li:hover > .label {
  opacity: 0;
}

.sg-breakpoints .device_widths {
  padding-top: 20px;
}

.sg-breakpoints .device_widths > li {
  border-bottom: solid 3px #cccccc;
  text-align: right;
  margin-bottom: 15px;
  padding-right: 15px;
  border-right: solid 3px #cccccc;
}

.sg-font-sizes thead {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.sg-font-sizes th,
.sg-font-sizes td {
  text-align: left;
  white-space: nowrap;
  line-height: 1.5em;
}

.sg-font-sizes th:first-child,
.sg-font-sizes td:first-child {
  padding-right: 12px;
}

.demo__block {
  height: 200px;
  background-color: rgba(241, 241, 241, 0.5);
}

.icons-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
}

.icons-demo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons__item {
  -ms-flex: auto;
      flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  line-height: 2em;
  overflow: hidden;
}

.icons__item:last-child {
  margin-bottom: 0.5em;
}

.icons__item i {
  display: inline-block;
  width: 32px;
  text-align: center;
}

.demo .g .gi {
  text-align: center;
  outline: dotted 1px #ccc;
}

/*# sourceMappingURL=style.css.map */
