$spacing--s: .32rem;   // 5/6px
$spacing--m: .635rem;  // 11.5px
$spacing--base: 1rem;  // 18px
$spacing--ml: 1.16rem; // 20/21px
$spacing--l: 1.27rem;  // 22/24px
$spacing--xl: 1.38rem; //
$spacing--xxl: 2.5rem; //
$spacing--xxxl: 5rem;  // 90px

.u-spacing-down {
  margin-bottom: $spacing--l;
}

.u-spacing-up {
  margin-top: $spacing--l;
}

.u-gap-down {
  margin-bottom: $spacing--s;
}

.u-gap-up {
  margin-top: $spacing--s;
}
