.document-link {
  display: block;
  padding: 1rem 1rem 1rem 2.8rem;
  border-bottom: 2px solid $c-white;

  &.icons__download {
    @include icon('download');
    &:before {
      background-color: $c-blue;
      border-radius: 100%;
      color: $c-white;
      font-size: $fs--xl;
      margin-right: $spacing--m;
      margin-left: -2.5em;
      padding: .45em .55em;
    }
  }

}