{#
/**
 * @file
 * Strip - Strip.
 *
 * Default strip container.
 */
#}
<section {{ attributes.addClass(classes, 'strip' ).setAttribute('theme', theme) }}>
    <div class="strip-wrapper">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</section>