.strip {
  background-color: $c-gray--lighter;

  &[theme~="highlight"] {
    background-color: $c-blue;
  }

  &[theme~="dark"] {
    background-color: $c-purple;
  }

  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.strip-wrapper {
  width: 86%;
  margin: 0 auto;
}


