
.node {
  background-color: $c-gray--lighter;

  @include clearfix
}

.field--name-field-paragraphs {
  @include breakpoint($bp--medium){
    padding-bottom: $spacing--xxxl;
  }

  .field__item {
    margin-top: $spacing--ml;
    margin-bottom: $spacing--ml;
  }
  .node--type-landing-page & .field__item {
    margin-top: 0;
    margin-bottom: 0;
  }
}