.main {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.l-container {
  @include clearfix;

  // Main content
  .l-content {
    @include grid-span(12);
  }

  // Sidebar
  &--has-sidebar {
    @include clearfix;

    @include breakpoint($bp--medium) {
      .l-content {
        @include grid-span(8, 1);
      }
      .l-sidebar-first {
        @include grid-span(3, 10);

        margin-bottom: $spacing--xxxl;
      }
    }
  }
}

// Above content
.l-content-above {
  .strip {
    background-color: $c-purple;
    color: $c-white;
    position: relative;
  }

  .strip-wrapper {
    padding: $spacing--xxl 0;
  }

  .page-title {
    color: $c-white;
    margin-top: 0;
  }
  .block-local-tasks-block {
    bottom: -1px;
    position: absolute;
  }

  &.columns {
    .strip-wrapper {

      @include smart-grid(2);
    }
  }
}

// Content below
.l-content-below,
.l-content-below .strip{
  background-color: $c-gray--light;
}


