.region-sidebar-first {
  margin-top: $spacing--ml;
  margin-bottom: $spacing--ml;

  @include breakpoint($bp--medium) {
    margin-top: $spacing--xxxl;
  }

  .block {
    border-radius: 3px;
    overflow: hidden;
  }
}