{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
    {% if content %}
        {% include '@atoms/strips/_strip.twig' %}
    {% endif %}
{% endblock %}
