{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{#{% set attributes = attributes.addClass('col-md-9') %}#}

{% block content %}
    {% include "@molecules/blocks/branding.twig"
    with {
    "url": path('<front>')
    }
    %}
{% endblock %}
