{% extends "@atoms/strips/_strip.twig" %}

{#
/**
 * @file
 * Theme override for process search/filter.
 */
#}

{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}

{% block content %}
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
    {{ content }}
{% endblock %}
