{% extends '@atoms/strips/_strip.twig' %}

{% block content %}
    <div{{ content_attributes.addClass('node__content') }}>
        {{ content }}
    </div>

    {% if display_submitted %}
        <footer class="node__meta">
            {{ author_picture }}
            <div{{ author_attributes.addClass('node__submitted') }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}
{% endblock %}