{#
/**
 * @file
 * Theme override to display a header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
set classes = [
'region',
'region-' ~ region|clean_class,
'row',
]
%}
<div class="container">
{% if content %}
    {% include "@organisms/regions/header/header.twig" %}
{% endif %}
</div>