//
// List styles and mixins
//

@mixin list-no-bullet() {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

@mixin list-with-counter() {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: counter;

  > li:before {
    counter-increment: counter;
    content: counter(counter);
  }
}

// Node list.
.node__content {
  ul {
    list-style: none;
    padding: 0;
    li::before {
      content: "•";
    }
  }

  li {
    padding-bottom: $spacing--s;
    padding-left: $spacing--base;
    text-indent: -$spacing--base;
  }

  li::before {
    color: $c-pink; /* or whatever color you prefer */
    font-size: $fs--xxl;
    line-height: $spacing--xl;
    padding-right: $spacing--s;
    vertical-align: middle;
  }

  ol {
    @include list-with-counter;

    li::before {
      font-size: 1em;
      content: counter(counter) ".";
    }
  }
}

/* Pattern stuff */
.custom-bullet {
  @include list-with-counter;
}

//
// Demo dev stuff, can be remove when finished.
// @todo: Remove this.
//

/* Vars */
$color-grey: #666;
$color-grey-b: #f2f2f2;
$color-purple: #6e1e52;
$color-pink: #b7235a;
$color-orange: #f3883c;
$color-yellow: #f7d8a7;

$size-a: 5.778rem;

$size-border: 4px;
.custom-bullet--a {
  @include list-with-counter;

  position: relative;

  > li {
    &:before {
      position: relative;
      display: inline-block;
      z-index: 100;
      width: $size-a;
      height: $size-a;
      margin-right: $size-a;
      margin-bottom: $size-a;
      border: $size-border solid $color-purple;
      line-height: $size-a;
      text-align: center;
      color: $color-purple;
      background-color: white;
      border-radius: 100em;
      counter-increment: counter;
      content: counter(counter);
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 90;
      left: $size-a;
      margin-left: $size-border /2;
      border-left: $size-border solid $color-purple;
      content: "";
    }

    &:last-child:before {
      margin-bottom: 0;
    }
  }
}

