$steps-radius: 5.778rem;
$steps-border: 0.222rem;

.steps {
  color: $c-white;

  h1 {
    color: $c-white;
  }

}

.steps__list {
  @include list-no-bullet;
  @include clearfix;

  > li {
    float: left;
  }
}

.step {
  color: $c-brown-darkest;
  position: relative;
}

.step__count {
  border: $steps-border solid $c-white-20;
  border-radius: 100em;
  color: $c-white;
  display: inline-block;
  font-size: $fs--xxxl;
  height: $steps-radius;
  line-height: $steps-radius;
  text-align: center;
  width: $steps-radius;

  &:hover {
    border-color: $c-white;
  }

  .is-active & {
    background-color: $c-white;
    border: none;
    color: $c-purple;
  }
}

.step__tagline {
  @include center(true, false, ture, false);

  background-color: $c-white;
  box-shadow: 0 2px 3px 0 $c-gray--darkest;
  border-radius: 4px;
  display: block;
  line-height: $spacing--l;
  margin-top: $spacing--base;
  max-height: 0px;
  opacity: 0;
  padding: $spacing--m;
  transition: opacity $trans-opacity, height $trans-opacity;
  visibility: hidden;
  width: 16rem;
  z-index: map_get($z-index, tooltip);

  &::before {
    @include center(true, false, true, false);

    border-right: solid .5rem transparent;
    border-bottom: solid 1rem $c-white;
    border-left: solid .5rem transparent;
    content: "";
    top: -1rem;
    z-index: map_get($z-index, tooltip);
  }

  .step:hover & {
    max-height: none;
    opacity: 1;
    visibility: visible;
  }
}
