/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */

pre {
  margin-top: 0;
}

.u-demo-bg {
  background-color: hsl(0, 0%, 80%);
}

// Style Guide color swatches
.sg-colors {
  overflow: hidden;
  margin: 5px;
  padding: 0;
  > li {
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 0.3em;
    margin: 0 0 10px;
    box-sizing: border-box;
    font-size: 12px;
    .sg-swatch {
      display: block;
      height: 25px;
      //float: left;
      //width: 100%;
      border: dotted 1px hsl(0, 0%, 50%);
    }
    .sg-info {
      line-height: 1;
      //float: right;
      //width: 66%;
    }
    @media all and (min-width: 400px) {
      float: left;
      width: 49%;
      margin-right: 1%;
      .sg-swatch {
        //height: 100px;
      }
    }
    @media all and (min-width: 700px) {
      width: 24%;
      &:nth-child(4n+1) {
        clear: both;
      }
    }
  }
}

.sg-breakpoints {
  overflow: hidden;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .breakpoints {
    > li {
      position: absolute;
      border-left: solid 3px hsl(0, 0%, 35%);
      height: 100%;
      //      > .icon--arrow--right-medium {
      //        font-size: 18px;
      //        margin-top: 100px;
      //      }
      > .label {
        //        @include transform(rotate(90deg));
        //        @include transform-origin(bottom left);
        display: block;
        //        position: absolute;
        //        bottom: 20px;
        background: hsl(0, 0%, 35%);
        padding: 3px;
        color: white;
      }
      &:hover {
        // stylelint-disable max-nesting-depth, selector-max-specificity
        border-left-color: hsla(0, 0%, 35%, 0.3);
        > .label {
          opacity: 0;
        }
        // stylelint-enable max-nesting-depth, selector-max-specificity
      }
    }
  }
  .device_widths {
    padding-top: 20px;
    > li {
      border-bottom: solid 3px hsl(0, 0%, 80%);
      text-align: right;
      margin-bottom: 15px;
      padding-right: 15px;
      border-right: solid 3px hsl(0, 0%, 80%);
    }
  }
}

.sg-font-sizes {
  thead {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid black;
  }
  th,
  td {
    text-align: left;
    white-space: nowrap;
    line-height: 1.5em;
    &:first-child {
      padding-right: 12px;
    }
  }
}

.demo__block {
  height: 200px;
  background-color: rgba($c-gray--lighter, 0.5);
}

// Icons
.icons-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
}

.icons-demo {
  display: flex;
  flex-wrap: wrap;
}

.icons__item {
  flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  line-height: 2em;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0.5em;
  }
}

.icons__item i {
  display: inline-block;
  width: 32px;
  text-align: center;
}

.demo .g .gi {
  text-align: center;
  outline: dotted 1px #ccc;
}
