//
// Styles for the site utility bar, and it's content.
//
.site-util {
  min-height: 3.33rem;
  background-color: $c-purple;
  font-size: $fs--m;

  // Menu styles.
  .menu {
    font-size: $fs--m;
    a,
    a.is-active {
      color: $c-white;
    }
  }

  // Region styles.
  .region-site-util-second {
    float: right;

    .menu-item {
      border-left: 1px solid $c-white-50;
    }
  }
}