$fw--100: 100; // thin/hairline
$fw--200: 200; // extra-light/ultra-light
$fw--300: 300; // light*
$fw--400: 400; // normal/regular/book/roman*
$fw--500: 500; // medium
$fw--600: 600; // semi-bold/demi-bold
$fw--700: 700; // bold*
$fw--800: 800; // extra-bold/ultra-bold
$fw--900: 900; // black/heavy

// Place a `.ttf`, `.woff`, & `.woff2` in `$font-directory`
$font-faces: (
  //(
  //  "name": "LatoRegular",
  //  "filename": "Lato-Regular"
  //),
) !default;

// Child themes can add to Fonts with `$extra-font-faces`
@if variable-exists(extra-font-faces) {
  $font-faces: join($font-faces, $extra-font-faces);
}

$font-directory: "../fonts/" !default;

@each $font-face in $font-faces {
  $filename: map-get($font-face, "filename");
  @font-face {
    font-family: map-get($font-face, "name");
    src: url("#{$font-directory}#{$filename}.woff2") format("woff2"),
      url("#{$font-directory}#{$filename}.woff") format("woff"),
      url("#{$font-directory}#{$filename}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

$ff--lato: 'LatoRegular', sans-serif;
$ff--helvetica: 'Helvetica', sans-serif;

$ff--heading: $ff--helvetica !default;
$ff--body: $ff--helvetica !default;

// font Sizes
$fs--xxxl: 2.778rem;
$fs--xxl: 2rem;
$fs--xl: 1.11rem;
$fs--l: 1rem;
$fs--m: .889rem;
$fs--s: .778rem;
$fs--xs: .66rem;
$fs--xxs: .55rem;

// font Colour
$fc--heading: $c-purple;
$fc--paragraph: $c-brown-darkest;
// Light theme
$fc--heading-light: $c-white;
$fc--paragraph-light: $c-white;
// Alt theme
$fc--heading-alt: $c-blue;