input {
  &[type=text],
  &[type=password],
  &[type=number],
  &[type=email],
  &[type=search],
  &[type=tel],
  &[type=url]{
    background: $c-white;
    border: 1px solid $c-brown-lightest;
    box-shadow: 0 2px 4px 0 $c-gray--light-50;
    border-radius: 2px;
    padding: $spacing--m;
    &.form__mega {
      border-radius: 11px;
      //color: $c-purple;
      font-size: $fs--h1;
      padding: $spacing--l;
      width: 100%;
    }
  }
  &::placeholder {
    color: $c-purple;
    opacity: 1;
    transition: opacity $trans-opacity;
  }
  &:focus::placeholder {
    opacity: .5;
  }
}
