//
// Tabs styling.
//

.tabs {
  margin-top: $spacing--m;
  border-bottom: 1px solid $c-gray;

  a {
    padding: 0.8rem 1.2rem;

    &.is-active {
      background-color: $c-gray--lighter;
      margin-bottom: -2px;
      padding-bottom: 0.9rem;
    }
  }

  li {
    background-color: $c-white;
    border-radius: 3px 3px 0 0;

    &.is-active,
    &:hover,
    &:focus {
      border-width: 1px 1px 0;
      border-style: solid;
      border-color: $c-gray;

    }
  }
}