<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="close">
    <i class="icon--close"></i> icon--close
  </div>
  
  <div class="icons__item" data-name="download">
    <i class="icon--download"></i> icon--download
  </div>
  
  <div class="icons__item" data-name="download_circle">
    <i class="icon--download_circle"></i> icon--download_circle
  </div>
  
  <div class="icons__item" data-name="menu">
    <i class="icon--menu"></i> icon--menu
  </div>
  
  <div class="icons__item" data-name="search-old">
    <i class="icon--search-old"></i> icon--search-old
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
</div>
