{% embed "@base/grids/_smart-grid.twig" with {
  rowItems: {
    medium: 3
  }
} %}
  {% block gridItems %}

    {% embed "@molecules/caption-block/caption-block.twig" with {
      title: "Block 1"
    } %}
      {% block body %}
        <p>{{ random(paragraphs) }}</p>
      {% endblock %}
    {% endembed %}

    {% embed "@molecules/caption-block/caption-block.twig" with {
      title: "Block 2"
    } %}
      {% block body %}
        <p>{{ random(paragraphs) }}</p>
        <p>{{ random(paragraphs) }}</p>
      {% endblock %}
    {% endembed %}

    {% embed "@molecules/caption-block/caption-block.twig" with {
      title: "Block 3"
    } %}
      {% block body %}
        <p>{{ random(paragraphs) }}</p>
      {% endblock %}
    {% endembed %}

  {% endblock %}
{% endembed %}
