@mixin button($alt: false) {
  @include a-link($link: $c-white, $hover: $c-white, $deco--hover: "none");
  background-color: $c-purple;
  border-radius: $spacing--s;
  color: $c-white;
  font-weight: $fw--700;
  padding: ($spacing--s * 3) ($spacing--l * 3);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  @if $alt {
    background: $c-pink;
  }
}

.button {
  @include button();
  &--alt {
    @include button($alt: true);
  }
}

a.button {
  // needed to override base theme CSS
  // stylelint-disable property-no-vendor-prefix
  -moz-appearance: none;
  -webkit-appearance: none;
  // stylelint-enable property-no-vendor-prefix

  &__blob {
    color: $c-white;
    background: $c-purple;
    border-radius: 100%;
    display: block;
    height: 5.4rem;
    width: 5.4rem;
    position: relative;

    span {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
    .icons__next {
      font-size: 3.5rem;
    }
    .direction {
      bottom: 1rem;
    }
  }
}

input[type="submit"],
.form-submit {
  @include button();
  border: 0;
}
